<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EngineeringProjet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="EngineeringProjet.Properties.Settings.ManagementConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Management.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="EngineeringProjet.Properties.Settings.ManagementProjectConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\ManagementProject.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="EngineeringProjet.Properties.Settings.EnterpriseDataBaseConnectionString"
            connectionString="data source=EnterpriseDataBase;password=153624"
            providerName="System.Data.SQLite.EF6" />
        <add name="EngineeringProjet.Properties.Settings.managementConnectionString1"
            connectionString="server=localhost;user id=root;password=root;database=management"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
<startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup><userSettings>
        <EngineeringProjet.Properties.Settings>
            <setting name="Number" serializeAs="String">
                <value>7</value>
            </setting>
        </EngineeringProjet.Properties.Settings>
    </userSettings>
</configuration>
